body {
text-align: ;
}

.my-button {

    border: none; /* Pas de bordure */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement interne */
    text-align: right; /* Alignement du texte */
    text-decoration: none; /* Pas de soulignement */
    display: inline-block; /* Affichage en ligne */
    font-size: 16px; /* Taille de police */
    cursor: pointer; /* Curseur de la souris */
    border-radius: 100px; /* Bordure arrondie */
    margin: 15px;
    display: flex;
    flex-direction: column;
  }
  
  

  .a {    
    display: inline-block;
    padding: 10px 20px;
    color: #d1c1c1;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: ;
    background-image:url();
  }
  

